*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  scroll-snap-type: y mandatory;
}
.content{
  scroll-snap-align: start;
}
.judul{
  width: 100%;
  /* align-items: center;
  text-align: center; */
}
.judul a i{
  color: black;
}
/* .ubah_kategori{
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .ubah_kategori input{
  width: 90%;
  height: 40px;
} */
.card{
  width: 100%;
  scroll-snap-type: x mandatory;
  overflow:auto;
  display: flex;
  flex-direction: row;
}
.card .foto{
  position: relative;
}
.card .foto img{
  scroll-snap-align: start;
  min-width: 380px;
  min-height: 240px;
  max-width: 380px;
  max-height: 240px;
  object-fit: cover;
  object-position: center;
  padding: 0px 2px;
}
#aksi{
  position: absolute;
  top: 16px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 380px;
  min-height: 240px;
  max-width: 380px;
  max-height: 240px;
  opacity: calc(0);
  padding:1rem ;
}
 #aksi:hover {
  opacity: calc(1);
  padding:1rem ;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 40ms;
  backdrop-filter: blur(15px);

} 
#aksi a{
  color: white;
} 

.card p{
  color:black;
  top: 0;
  text-align: center;
}

option{
  overflow: auto;
  height: 10px;
}
#acara{
  display: flex;
  flex-direction:column;
  padding: auto 3px;
}
.popup{
  /* position: absolute; */
  position: sticky;
  /* position: fixed; */
  z-index: 100;
  animation: popup alternate 10s;
  opacity: calc(0);
}
.alert{
  position: fixed;
  width: 38%;
  right: 5px;
  bottom: 1rem;
  margin: 2px;
}
@keyframes popup{
 0%{
  opacity: calc(1);
 }
 100%{
  opacity: calc(0);
  right: -1000;
 }
}